/**
 * User
 */
.user-dropdown > strong {
  display: inline-block;
  width: 100%;
}


/**
 * Chat
 */
.channel-emote {
  max-height: 80px;
  max-width: 80px;
}

.chat-picture {
  max-height: 100px;
  max-width: 200px;
}


/**
 * MOTD
 */
.motd-bottom-btn {
  margin-top: 10px;
}

#motd-tabs-content {
  margin-top: 10px;
}

#motd-channel-description {
  margin-bottom: 35px;
  h1 {
      margin: 0 0 15px 0;
      word-wrap: break-word;
  }
}

/* MOTD Tabs */
.btn-link {
  text-decoration: none;
  &:hover {
      text-decoration: underline;
  }
}

/**
 * Title
 */
#currenttitle {
  border: none;
  margin: 10px 0 30px 0;
  text-align: center;
  font-size: 30px;
}

#mediainfo {
  padding: 2px 5px;
  margin: 0;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}




