.ce-custom-editor-textarea {
  width: 100%;
  outline: none;
  background: #1D1F21;
  color: #C5C8C6;
  height: 420px;
  padding: 8px;
  border: none;
  font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}