#emotelist table {
  width: 100% !important;
}

.emote-preview-container {
  width: 20% !important;
  height: 50px !important;
  margin: 0 !important;
  padding: 5px !important;
}

.emote-preview {
  max-width: 100% !important;
  max-height: 100% !important;
}

#emotelist td {
  background-color: transparent !important;
}